<div class="container">
  <h1>Create your very own post!</h1>
  <form action="/posts" method="post">
  	Author:<input type="text" name="post[author]" placeholder="e.g. Aaron Hernandez"><br>
  	Title:<input type="text" name="post[title]" placeholder="e.g. Whoops"><br>
  	Post:<textarea rows="5" cols="50" name="post[text_area]" placeholder="e.g. Shouldn't have done that..."></textarea>
  	<input type="submit" value="Post Your Blog!">
  </form>
  <a href="/">Peruse all blogs</a>
</div>
