<div class="container"> 
	<h1>hey post #<%= @post.id %></h1>
	<h4>Author: <%= @post.author %></h4>
	<h4>Title: <%= @post.title %></h4>
	<h4>Blog: <%= @post.body %></h4>
	<a href="/">Peruse all blogs</a>
</div>