<div class="container">
	<h1>Welcome To My Blog</h1>
	<h3><a href="/posts">Create a post!</a></h3>
	<table>
		<tr>
			<th>Blogs to peruse</th>
		</tr>
		<% @posts.each do |post| %>
		<tr>
			<td>
				<a href='/posts/<%= post.id %>'><%= post.title %></a>
			</td>
		</tr>
		<% end %> 
	</table>
</div>
